/dist/
/.cabal-sandbox/
/cabal.sandbox.config
/.stack-work/
*.lock
*.hi
*.o
*.dyn_hi
*.dyn_o
*.so
*.dylib
*.dll
*.exe
*.prof
*.haddock
/.hpc/
/.envrc
/.ghc.environment.*
/.idea/
.vscode/
.DS_Store
*.log
